<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <!-- <form action="/inputList" method="post">

        <input type="text" name="title" value="">
        <input type="submit" name="" value="send">
    
    </form> -->

    <input type="text" id="content" value="">
    <input type="button" id="send" value="send">
    <script src="/js/app.js"></script>
</body>
</html>